@import "../../responsive.scss";
.chat {
  display: flex;
  flex-direction: column;
  height: 100%;

  .messages {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;

    @include md {
      overflow: unset;
    }

    h1 {
      font-weight: 300;
    }

    gap: 20px;
    .message {
      display: flex;
      align-items: center;
      //justify-content: space-between;
      gap: 20px;
      cursor: pointer;
      background-color: white;
      padding: 20px;
      border-radius: 10px;

      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
      }
      span {
        font-weight: bold;
      }
    }
  }

  .chatBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    .top {
      background-color: #f7c14b85;
      padding: 20px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .user {
        display: flex;
        align-items: center;
        gap: 20px;
        img {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .close {
        cursor: pointer;
      }
    }
    .center {
      height: 350px;
      overflow-y: scroll;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .chatMessage {
        width: 50%;

        &.own {
          align-self: flex-end;
          text-align: right;
        }
        span {
          font-size: 12px;
          background-color: #f7c14b39;
          padding: 2px;
          border-radius: 5px;
        }
      }
    }
    .bottom {
      border-top: 2px solid #f7c14b85;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      textarea {
        flex: 3;
        height: 100%;
        border: none;
        padding: 20px;
      }

      button {
        flex: 1;
        height: 100%;
        border: none;
        background-color: #fece51;
        cursor: pointer;
      }
    }
  }
}
