@import "../../responsive.scss";
.registerPage {
  display: flex;
  height: 100%;

  .formContainer {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex: 3;

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      button,
      input {
        padding: 20px;
        border: 1px solid gray;
        border-radius: 5px;
      }

      button {
        border: none;
        color: white;
        background-color: teal;
        font-weight: bold;
        cursor: pointer;

        &:disabled {
          background: #bed9d8;
          cursor: not-allowed;
        }
      }

      a {
        font-size: 14px;
        color: gray;
        border-bottom: 1px solid gray;
        width: max-content;
      }
    }
  }
  .imgContainer {
    flex: 2;
    background-color: #fcf5f3;
    display: flex;
    align-items: center;
    justify-content: center;

    @include md {
      display: none;
    }

    img {
      width: 100%;
    }
  }
}
