@import "../../responsive.scss";
.register {
  display: flex;
  height: 100%;
  justify-content: space-between;

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 3;

    h1 {
      font-size: 30px;
    }

    form {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      justify-content: center;
      gap: 20px;

      button,
      input {
        width: 100%;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 5px;
      }

      button {
        border: none;
        color: white;
        background-color: rgb(9, 138, 121);
        cursor: pointer;
      }

      &:last-child {
        align-items: self-start;
      }

      a {
        font-size: 12px;
        font-weight: 300;
        text-decoration: underline;
      }
    }
  }
  .imgContainer {
    flex: 2;
    background-color: #fcf5f3;

    @include md {
      display: none;
    }

    img {
      width: 100%;
    }
  }
}
